[Domains]
example.com:
secure.example.com:

[example.com]
SecurityGroupId: sg-abcd1234
VerificationPort: 80
RestartService: 'nginx'

[secure.example.com]
SecurityGroupId: sg-1234abcd
VerificationPort: 443
RestartService: 'nginx'
